project:
  type: website
  
  preview: 
    port: 5555
    browser: true
    watch-inputs: true
    navigate: true

  output-dir: docs
  execute-dir: project

  render:
    - "*.qmd"
    - "*.md"
    - "*.ipynb"
    - "!projects/"
    - "!tutorial/"

  resources:
    - "files/**"
    # Things that need to be at the site root
    - ".htaccess"
    - "LiveSearchSite.xml"
    # - "keybase.txt"
    - "y_key_31e0c4105fc75710.html"
    - "pgp_ath.asc.txt"

website:
  title: "Guorui Zhong"
  # image: "/files/profiles/avatar.png"
  # favicon: "/files/profiles/avatar.png"
  description: ""
  search: 
    location: navbar
    type: overlay
  site-url: "https://grgrzhong.github.io/"
  repo-url: "https://github.com/grgrzhong/quarto"
  back-to-top-navigation: true
  page-navigation: true
  navbar:
    pinned: true
    left:
      - text: "About"
        file: "index.qmd"
      - text: "Wiki"
        file: "blog/index.qmd"
      # - text: "Wiki"
      #   file: "wiki/index.qmd"
      - text: "Keyboard"
        file: "keyboard/index.qmd"
      - text: "Linux"
        file: "linux/index.qmd"
      - text: "Python"
        file: "python/index.qmd"
      - text: "R"
        file: "r/index.qmd"
      # - text: "Stats"
      #   file: "stat/index.qmd"
      # - text: "Programming"
        # menu:
        #   - file: "programming/python/index.qmd"
        #   - file: "programming/r/index.qmd"
        #   - file: "programming/conda/index.qmd"
        #   - file: "programming/linux/index.qmd"

    # right: 
    #   - icon: journal-check
    #     aria-label: journal-check
    #     href: https://scholar.google.com/citations?user=g0MfTPMAAAAJ&hl=en
    #   - icon: linkedin
    #     aria-label: linkedin
    #     href: https://www.linkedin.com/in/guorui-zhong-754761185/
    #   - icon: github
    #     aria-label: github
    #     href: https://github.com/guoruizhong
  
  page-footer:
    center: |
      <span class="faux-block">{{< fa brands creative-commons >}} 2021-2026 Guorui Zhong ~ Made with [{{< fa brands r-project >}}](https://www.r-project.org/), [{{< fa brands python >}}](https://www.python.org/) and [Quarto](https://quarto.org/)</span>

execute:
  freeze: auto # Prevent re-execution of code cells unless the code or its dependencies have changed
  eval: true # Enable code execution
  warning: false # Suppress warnings in output
  error: false # Suppress errors in output
  message: false # Suppress messages in output
  echo: true # Show code in output
  include: true # Include code output in output

format:
  html:
    theme:
      - html/me.scss
    grid:
      body-width: 900px
    toc: true
    toc-depth: 3
    toc_float: true
    toc-location: left
    number-sections: false
    number-depth: 3
    code-link: true
    code-fold: false # true to enable code folding
    code-overflow: wrap # scroll/wrap 
    code-line-numbers: false
    df-print: default # default/kable/tibble/paged for data frame printing
    anchor-sections: true
    fig-cap-location: margin
    reference-location: margin
    footnotes-hover: true
    smooth-scroll: true
    code-tools:
      source: true
      toggle: true
    # highlight-style: github-dark
    # highlight-style: dracula
    highlight-style: monokai

# bibliography: files/bib/references.bib
# csl: files/bib/chicago-author-date.csl

# Metadata stuff
# pagetitle: "{{< meta title >}} | {{< meta website.title >}}"
# description-meta: "{{< meta description >}}"
# author-meta: "Guorui Zhong"